---
object_type: instance
version: 1.0
object:
  attributes:
    display_name: 
    name: VmReconfigureTaskComplete
    inherits: 
    description: 
  fields:
  - to:
      value: "${/#miq_provision.miq_request.get_option(:owner_email)} || ${/#miq_provision.miq_request.requester.email}
        || ${/Configuration/Email/Default#default_recipient}"
  - subject:
      value: Request ID ${/#miq_request.id} - Your Virtual Machine Reconfigure Request
        has Completed.
  - body:
      value: Hello,<br/><br/>Your Virtual Machine Reconfiguration Request has Completed.<br/><br/>
        Thank you<br/> ${#signature}
